[submodule "my_plugins/vim-autoformat"]
    path = my_plugins/vim-autoformat
    url = https://github.com/Chiel92/vim-autoformat.git
[submodule "my_plugins/auto-pairs"]
    path = my_plugins/auto-pairs
    url = https://github.com/jiangmiao/auto-pairs.git
[submodule "my_plugins/YouCompleteMe"]
    path = my_plugins/YouCompleteMe
    url = https://github.com/Valloric/YouCompleteMe.git
[submodule "my_plugins/vim-cpp-enhanced-highlight"]
    path = my_plugins/syntax
    url = https://github.com/octol/vim-cpp-enhanced-highlight.git
